body {
	padding: 0px;
	border: 0px;
	margin: 0px;
}
header {
	width: 100%;
	text-align: center;
	background-color: #337ab7;
}
header > p {
	margin: 0;
	color: white;
	font-size: 24px;
	font-weight: bold;
	padding: 10px 0;
}
h3 {
	padding: 15px 0;
	margin: 0px;
}
.panel {
	border: 1px solid #337ab7;
	border-radius: 4px;
}
.top-row-container {
	min-width: 480px;
	width: 80%;
	height: 300px;
	margin: 30px auto 0px;
}
.top-row {
	float: left;
}
.top-row:first-child {
	width: 70%;
	height: 90%;
	margin-right: 30px;
}
.top-row:first-child textarea {
	width: calc(100% - 42px);
	height: calc(100% - 42px);
	padding: 20px;
	border: 1px solid #337ab7;
	border-radius: 4px;
	resize: none;
}
.top-row:last-child {
	width: calc(30% - 32px);
	height: calc(90% - 2px);
	text-align: center;
}
.top-row > table {
	margin: 0px auto 30px;
}
.top-row td, .top-row th {
	width: 50%;
	padding: 5px 0 0 0;
}
.top-row td:last-child {
	text-align: right;
}
.bottom-row-container {
	min-width: 480px;
	width: 80%;
	height: 500px;
	margin: 0px auto;
}
.bottom-row {
	float: left;
	width: calc(50% - 17px);
	min-height: 400px;
}
.body {
	padding: 15px 0;
}
.bottom-row table {
	margin: 0px auto;
	table-layout: fixed;
	width: 70%;
}
.bottom-row h3 {
	background-color: #337ab7;
	color: white;
}
.bottom-row ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.bottom-row:first-child {
	text-align: center;
	margin-right: 30px;
}
.bottom-row th:first-child {
	width: 50%;
}
.bottom-row:last-child {
	text-align: center;
}