body {
	padding: 0px;
	border: 0px;
	margin: 0px;
}
.top-row-container {
	min-width: 480px;
	width: 80%;
	height: 300px;
	border: 1px dashed black;
	margin: 0px auto;
}
.top-row {
	float: left;
}
.top-row:first-child {
	/*border: 1px dashed red;*/
	width: 70%;
	height: 90%;
}
.top-row:first-child textarea {
	width: 90%;
	height: 75%;
	padding: 5%;
	/*border: 0px;*/
	resize: none;
}
.top-row:last-child {
	border: 1px dashed green;
	width: 28%;
	height: 90%;
	text-align: center;
}
.top-row > table {
	border: 1px solid red;
	width: 90%;
	padding: 10px;
	margin: 0px auto;
}
.top-row td, .top-row th {
	border: 1px solid black;
	text-align: left;
	height: 50px;
	padding-left: 10px;
	width: 50%;
}
.top-row:last-child th {
	font-size: 24px;
}
.top-row:last-child td:nth-child(even) {
	text-align: right;
	padding-right: 10px;
}
.bottom-row-container {
	min-width: 480px;
	width: 80%;
	height: 500px;
	border: 1px dashed black;
	margin: 0px auto;
}
.bottom-row {
	float: left;
}
.bottom-row > table {
	margin: 0px auto;
	table-layout: fixed;
	width: 70%;
}
.bottom-row > ul {
	/*border: 1px solid red;*/
	padding: 0px;
	list-style-type: none;
}
.bottom-row:first-child {
	/*border: 1px dashed black;*/
	width: 49%;
	text-align: center;
}
.bottom-row th:first-child {
	width: 50%;
}
.bottom-row:last-child {
	/*border: 1px dashed black;*/
	width: 49%;
	text-align: center;
}